<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <!-- <h1 class="display-2 text-white">Hello {{this.username}}</h1>
          <p class="text-white mt-0 mb-5">This is your profile page.</p> -->
          <!-- <a href="#!" class="btn btn-info">Edit profile</a> -->
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">Plat</h3>
              </div>
              <div class="col-4 text-right">
                <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
              </div>
            </div>
          </div>
          <div class="card-body">
            <div role=form>
              <h6 class="heading-small text-muted mb-4">Plat information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-username">Nom</label>
                      <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" [(ngModel)]="keywords.nom" required="required">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-username">Description</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Description" [(ngModel)]="keywords.Description" required="required">
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-username">Prix d'achat</label>
                        <input type="number" id="input-username" class="form-control form-control-alternative" placeholder="Description" [(ngModel)]="keywords.prixA" required="required">
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label" for="input-username">Prix de vente</label>
                        <input type="number" id="input-username" class="form-control form-control-alternative" placeholder="Description" [(ngModel)]="keywords.prixV" required="required">
                      </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-role">Disponibilite</label>
                      <select id="id-role" class="form-control form-control-alternative" [(ngModel)]="keywords.dispo">
                        <option value="0"> Non disponible</option>
                        <option value="1">Disponible</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group" >
                      <button type="button" class="btn btn-secondary" (click)="insert()">Insert</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  